.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.bookcart{
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.bookcartdetails{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px;
}
